<div class="col-md-6 col-md-offset-3 mt-5">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.valid && register()" novalidate #f="ngForm">
        <div class="form-group">
            <label for="emailaddress">Email Address</label>
            <input type="email" class="form-control" #Email="ngModel" name="emailaddress" [(ngModel)]="model.emailaddress" required
                    [ngClass]="{'fcRequired': f.submitted && Email.invalid}"
                    pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-]+$" />
            <small [hidden]="Email.pristine || Email.valid || !f.submitted">
                Email format should be <i>john@doe.com</i>.
            </small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" #Password="ngModel" name="password" [(ngModel)]="model.password" 
                   required
                   [ngClass]="{'fcRequired': f.submitted && Password.invalid}"
                   validateEqual="confirmPassword" reverse="true"/>
        </div>
        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" #PasswordRepeat="ngModel" [(ngModel)]="model.repeatPassword" name="confirmPassword" required
                   [ngClass]="{'fcRequired': f.submitted && PasswordRepeat.errors && PasswordRepeat.errors.required}"
                   validateEqual="password" />
            <small [hidden]="PasswordRepeat.pristine || PasswordRepeat.valid || !f.submitted || PasswordRepeat.errors.validateEqual === undefined">
                Passwords should match.
            </small>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" #Username="ngModel" name="username" [(ngModel)]="model.username" required
                   [ngClass]="{'fcRequired': f.submitted && Username.invalid}"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>