<div class="col-md-6 col-md-offset-3">
    <form *ngIf="!created" name="form" (ngSubmit)="createleague()" novalidate>
        <div class="form-group">
            <label for="name">League Name:</label>
            <input type="text" class="form-control" name="leaguename" [(ngModel)]="model.name" required />
        </div>
        <div class="form-group">
            <label class="form-check-label">
                <input type="checkbox" name="bPotMoney" [(ngModel)]="model.hasPotMoney">
                Entry money?
            </label>
            <input *ngIf="model.hasPotMoney" type="text" name="amount" [(ngModel)]="model.potAmount" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
    <p *ngIf="created">The access code for this league is: {{model.code}}</p>
</div>