<div class="container-fluid">
    <h3>My leagues:</h3>
    <hr class="my-1" style="margin-right: 45%;" />
    <div *ngFor="let league of leagues">
        <div class="row mb-2">
            <div class="col-md-5">
                <h5 *ngIf="league.league.id == defaultLeague?.id">{{league.league.name}}</h5>
                <span *ngIf="league.league.id != defaultLeague?.id">{{league.league.name}}</span>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info" (click)="standings(league.league.id)">
                    <span class="fa fa-bar-chart" data-toggle="tooltip" title="Standings"></span>
                </button>
                <button *ngIf="league.league.id != defaultLeague?.id && league.isAdmin" type="button" class="btn btn-info" (click)="manage(league.league.id)">
                    <span class="fa fa-cog" data-toggle="tooltip" title="Manage"></span>
                </button>
                <button *ngIf="league.canLeave" type="button" class="btn btn-info" (click)="leave(league.league.id)">
                    <span class="fa fa-sign-out" data-toggle="tooltip" title="Leave"></span>
                </button>
            </div>
        </div>
        <hr class="my-1" style="margin-right: 45%;" />
    </div>

    <div class="mt-5">
        <button type="button" class="btn btn-primary" (click)="create()">Create League</button>
        <button type="button" class="btn btn-primary" (click)="join()">Join League</button>
    </div>
</div>