<div class="col-md-12 mt-5">
    <form name="form" (ngSubmit)="savechanges()" novalidate #f="ngForm">
        <div class="form-group col-md-9">
            <label for="leaguename">League Name:</label>
            <div class="form-inline">
                <input type="text" class="form-control col-md-6 mr-3" name="leaguename" [(ngModel)]="league.name" required />
                <button *ngIf="members?.length == 1" type="button" class="btn btn-primary" (click)="delete()">Delete</button>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Access code: {{league.code}}</label>
        </div>
        <div class="form-group col-md-6">
            <label class="form-check-label">
                <input type="checkbox" name="bPotMoney" [(ngModel)]="league.hasPotMoney">
                Entry fee?
            </label>
        </div>

        <div class="form-group col-md-6" *ngIf="league.hasPotMoney">
            <label for="LeagueAmount">Amount:</label>
            <input type="number" min="0" name="LeagueAmount" [(ngModel)]="league.potAmount" #LeagueAmount="ngModel"
                   class="form-control col-md-2" [ngClass]="{'fcRequired': f.submitted && LeagueAmount.invalid}"
                   [required]="league.hasPotMoney" />
        </div>

        <h3 class="col-md-2">Members:</h3>
        <div class="table-responsive col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Paid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of members">
                        <td>
                            {{member.username}}
                        </td>
                        <td>
                            <input type="checkbox" name="{{member.username}}" [(ngModel)]="member.paid" />
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>        

        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary" [disabled]="f.pristine">Save</button>
        </div>
    </form>
    


</div>